body {
    background-color: #19191B;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
}

.bg_gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container {
    width: 90%;
    margin: auto;
    padding: 2% 0;
}

/* navbar styles start */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo {
    width: 10%;
}

.navbar__list {
    display: flex;
    list-style-type: none;
    width: 30%;
    justify-content: space-between;
    margin: 0;
    align-items: center;
    font-size: 18px;
}

.list__item > a {
    text-decoration: none;
    color: white;
    transition: 0.8s;
}

.list__item > a:hover {
    color: #5454D4;
    transition: 0.8s;
}

.navbar__input {
    width: 15%;
    height: 25px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid white;
}
/* navbar styles end */

/* header styles start */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.header__block_left {
    width: 40%;
}

.header__title_left {
    font-family: 'Open Sans', sans-serif;
    font-size: 80px;
    margin-top: 25%;
    margin-bottom: 0;
    line-height: 1;
}

.header__desc_left {
    font-size: 21px;
    line-height: 2;
}

.header__btn {
    width: 35%;
    height: 60px;
    background-color: #5454D4;
    border: none;
    color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    padding: 1%;
}

.btn__icon {
    margin-left: 8px;
}

.header__block_right {
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
}

.vector {
    position: absolute;
}

#vector_1 {
    top: 124px;
    left: -81px;
}

#vector_2 {
    top: 77px;
    right: 54px;
}

#vector_3 {
    bottom: 20px;
    left: -130px;
}

#vector_4 {
    bottom: 54px;
    right: 40px;
}
/* header styles end */

/* services styles start */
.services {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services__title_main {
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    width: 50%;
    font-family: 'Open Sans', sans-serif;
    margin: 120px 0 50px;
}

.services__list {
    display: flex;
    list-style-type: none;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
}

.services__item {
    width: 20%;
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 24px;
}

.services__title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 0;
}

.services__desc {
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
}
/* services styles end */

/* portfolio styles start */
.portfolio__title {
    font-size: 58px;
    font-weight: 800;
}

.portfolio__list {
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: space-between;
    padding: 0;
}

.portfolio__item {
    background-color: #1E1E20;
    border-radius: 15px;
    padding: 1.5%;
    height: min-content;
}

.portfolio__item:nth-child(2) {
    margin-top: 90px;
}

.portfolio__item:nth-child(3) {
    margin-top: 180px;
}

.portfolio__icon {
    margin-left: 50%;
    margin-top: 50px;
}
/* portfolio styles end */

/* info-block styles start */
.info-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
}

.info-block__title {
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    font-weight: 700;
    width: 60%;
    margin: 0;
}

.info-block__btn {
    background: #5454D4;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    font-size: 21px;
    width: 17%;
    height: 60px;
    cursor: pointer;
}
/* info-block styles end */

/* footer styles start */
footer {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    color: rgba(255, 255, 255, 0.7);
}

.footer__logo {
    width: 132px;
    height: 42px;
}

.footer__list {
    display: flex;
    list-style-type: none;
    width: 30%;
    justify-content: space-between;
}
/* footer styles end */

/* burger-menu styles start */
.burger-menu {
    /* display: none; */
    width: 98%;
    height: min-content;
    background-color: #2c2c33;
    position: absolute;
    z-index: 1;
    /* top:  */
}
/* burger-menu styles end */